@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
	font-family: 'Roboto', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

html {
 
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.d-flex{
	display:flex!important;
}

.justify-content-end{
	justify-content: flex-end;
}

.justify-content-between{
	justify-content: space-between;;
}

.justify-content-center{
	justify-content: center;
}

.align-items-center{
	 align-items: center;
}

.align-items-end{
	 align-items: flex-end;
}
 
.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .v-row:before, .v-row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
    display: table;
    content: " ";
}

.clearfix:after, .dl-horizontal dd:after, .container:after, .container-fluid:after, .v-row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-footer:after {
    clear: both;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width: 768px) {
    .container {
        width:750px
    }
}

@media (min-width: 992px) {
    .container {
        width:970px
    }
}

@media (min-width: 1200px) {
    .container {
        width:1170px
    }
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.row {
	display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.col-xs-1,.col-sm-1,.col-md-1,.col-lg-1,.col-xs-2,.col-sm-2,.col-md-2,.col-lg-2,.col-xs-3,.col-sm-3,.col-md-3,.col-lg-3,.col-xs-4,.col-sm-4,.col-md-4,.col-lg-4,.col-xs-5,.col-sm-5,.col-md-5,.col-lg-5,.col-xs-6,.col-sm-6,.col-md-6,.col-lg-6,.col-xs-7,.col-sm-7,.col-md-7,.col-lg-7,.col-xs-8,.col-sm-8,.col-md-8,.col-lg-8,.col-xs-9,.col-sm-9,.col-md-9,.col-lg-9,.col-xs-10,.col-sm-10,.col-md-10,.col-lg-10,.col-xs-11,.col-sm-11,.col-md-11,.col-lg-11,.col-xs-12,.col-sm-12,.col-md-12,.col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12 {
    float: left
}

.col-xs-12 {
    width: 100%
}

.col-xs-11 {
    width: 91.66666667%
}

.col-xs-10 {
    width: 83.33333333%
}

.col-xs-9 {
    width: 75%
}

.col-xs-8 {
    width: 66.66666667%
}

.col-xs-7 {
    width: 58.33333333%
}

.col-xs-6 {
    width: 50%
}

.col-xs-5 {
    width: 41.66666667%
}

.col-xs-4 {
    width: 33.33333333%
}

.col-xs-3 {
    width: 25%
}

.col-xs-2 {
    width: 16.66666667%
}

.col-xs-1 {
    width: 8.33333333%
}

.col-xs-pull-12 {
    right: 100%
}

.col-xs-pull-11 {
    right: 91.66666667%
}

.col-xs-pull-10 {
    right: 83.33333333%
}

.col-xs-pull-9 {
    right: 75%
}

.col-xs-pull-8 {
    right: 66.66666667%
}

.col-xs-pull-7 {
    right: 58.33333333%
}

.col-xs-pull-6 {
    right: 50%
}

.col-xs-pull-5 {
    right: 41.66666667%
}

.col-xs-pull-4 {
    right: 33.33333333%
}

.col-xs-pull-3 {
    right: 25%
}

.col-xs-pull-2 {
    right: 16.66666667%
}

.col-xs-pull-1 {
    right: 8.33333333%
}

.col-xs-pull-0 {
    right: auto
}

.col-xs-push-12 {
    left: 100%
}

.col-xs-push-11 {
    left: 91.66666667%
}

.col-xs-push-10 {
    left: 83.33333333%
}

.col-xs-push-9 {
    left: 75%
}

.col-xs-push-8 {
    left: 66.66666667%
}

.col-xs-push-7 {
    left: 58.33333333%
}

.col-xs-push-6 {
    left: 50%
}

.col-xs-push-5 {
    left: 41.66666667%
}

.col-xs-push-4 {
    left: 33.33333333%
}

.col-xs-push-3 {
    left: 25%
}

.col-xs-push-2 {
    left: 16.66666667%
}

.col-xs-push-1 {
    left: 8.33333333%
}

.col-xs-push-0 {
    left: auto
}

.col-xs-offset-12 {
    margin-left: 100%
}

.col-xs-offset-11 {
    margin-left: 91.66666667%
}

.col-xs-offset-10 {
    margin-left: 83.33333333%
}

.col-xs-offset-9 {
    margin-left: 75%
}

.col-xs-offset-8 {
    margin-left: 66.66666667%
}

.col-xs-offset-7 {
    margin-left: 58.33333333%
}

.col-xs-offset-6 {
    margin-left: 50%
}

.col-xs-offset-5 {
    margin-left: 41.66666667%
}

.col-xs-offset-4 {
    margin-left: 33.33333333%
}

.col-xs-offset-3 {
    margin-left: 25%
}

.col-xs-offset-2 {
    margin-left: 16.66666667%
}

.col-xs-offset-1 {
    margin-left: 8.33333333%
}

.col-xs-offset-0 {
    margin-left: 0
}

@media (min-width: 768px) {
    .col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12 {
        float:left
    }

    .col-sm-12 {
        width: 100%
    }

    .col-sm-11 {
        width: 91.66666667%
    }

    .col-sm-10 {
        width: 83.33333333%
    }

    .col-sm-9 {
        width: 75%
    }

    .col-sm-8 {
        width: 66.66666667%
    }

    .col-sm-7 {
        width: 58.33333333%
    }

    .col-sm-6 {
        width: 50%
    }

    .col-sm-5 {
        width: 41.66666667%
    }

    .col-sm-4 {
        width: 33.33333333%
    }

    .col-sm-3 {
        width: 25%
    }

    .col-sm-2 {
        width: 16.66666667%
    }

    .col-sm-1 {
        width: 8.33333333%
    }

    .col-sm-pull-12 {
        right: 100%
    }

    .col-sm-pull-11 {
        right: 91.66666667%
    }

    .col-sm-pull-10 {
        right: 83.33333333%
    }

    .col-sm-pull-9 {
        right: 75%
    }

    .col-sm-pull-8 {
        right: 66.66666667%
    }

    .col-sm-pull-7 {
        right: 58.33333333%
    }

    .col-sm-pull-6 {
        right: 50%
    }

    .col-sm-pull-5 {
        right: 41.66666667%
    }

    .col-sm-pull-4 {
        right: 33.33333333%
    }

    .col-sm-pull-3 {
        right: 25%
    }

    .col-sm-pull-2 {
        right: 16.66666667%
    }

    .col-sm-pull-1 {
        right: 8.33333333%
    }

    .col-sm-pull-0 {
        right: auto
    }

    .col-sm-push-12 {
        left: 100%
    }

    .col-sm-push-11 {
        left: 91.66666667%
    }

    .col-sm-push-10 {
        left: 83.33333333%
    }

    .col-sm-push-9 {
        left: 75%
    }

    .col-sm-push-8 {
        left: 66.66666667%
    }

    .col-sm-push-7 {
        left: 58.33333333%
    }

    .col-sm-push-6 {
        left: 50%
    }

    .col-sm-push-5 {
        left: 41.66666667%
    }

    .col-sm-push-4 {
        left: 33.33333333%
    }

    .col-sm-push-3 {
        left: 25%
    }

    .col-sm-push-2 {
        left: 16.66666667%
    }

    .col-sm-push-1 {
        left: 8.33333333%
    }

    .col-sm-push-0 {
        left: auto
    }

    .col-sm-offset-12 {
        margin-left: 100%
    }

    .col-sm-offset-11 {
        margin-left: 91.66666667%
    }

    .col-sm-offset-10 {
        margin-left: 83.33333333%
    }

    .col-sm-offset-9 {
        margin-left: 75%
    }

    .col-sm-offset-8 {
        margin-left: 66.66666667%
    }

    .col-sm-offset-7 {
        margin-left: 58.33333333%
    }

    .col-sm-offset-6 {
        margin-left: 50%
    }

    .col-sm-offset-5 {
        margin-left: 41.66666667%
    }

    .col-sm-offset-4 {
        margin-left: 33.33333333%
    }

    .col-sm-offset-3 {
        margin-left: 25%
    }

    .col-sm-offset-2 {
        margin-left: 16.66666667%
    }

    .col-sm-offset-1 {
        margin-left: 8.33333333%
    }

    .col-sm-offset-0 {
        margin-left: 0
    }
}

@media (min-width: 992px) {
    .col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12 {
        float:left
    }

    .col-md-12 {
        width: 100%
    }

    .col-md-11 {
        width: 91.66666667%
    }

    .col-md-10 {
        width: 83.33333333%
    }

    .col-md-9 {
        width: 75%
    }

    .col-md-8 {
        width: 66.66666667%
    }

    .col-md-7 {
        width: 58.33333333%
    }

    .col-md-6 {
        width: 50%
    }

    .col-md-5 {
        width: 41.66666667%
    }

    .col-md-4 {
        width: 33.33333333%
    }

    .col-md-3 {
        width: 25%
    }

    .col-md-2 {
        width: 16.66666667%
    }

    .col-md-1 {
        width: 8.33333333%
    }

    .col-md-pull-12 {
        right: 100%
    }

    .col-md-pull-11 {
        right: 91.66666667%
    }

    .col-md-pull-10 {
        right: 83.33333333%
    }

    .col-md-pull-9 {
        right: 75%
    }

    .col-md-pull-8 {
        right: 66.66666667%
    }

    .col-md-pull-7 {
        right: 58.33333333%
    }

    .col-md-pull-6 {
        right: 50%
    }

    .col-md-pull-5 {
        right: 41.66666667%
    }

    .col-md-pull-4 {
        right: 33.33333333%
    }

    .col-md-pull-3 {
        right: 25%
    }

    .col-md-pull-2 {
        right: 16.66666667%
    }

    .col-md-pull-1 {
        right: 8.33333333%
    }

    .col-md-pull-0 {
        right: auto
    }

    .col-md-push-12 {
        left: 100%
    }

    .col-md-push-11 {
        left: 91.66666667%
    }

    .col-md-push-10 {
        left: 83.33333333%
    }

    .col-md-push-9 {
        left: 75%
    }

    .col-md-push-8 {
        left: 66.66666667%
    }

    .col-md-push-7 {
        left: 58.33333333%
    }

    .col-md-push-6 {
        left: 50%
    }

    .col-md-push-5 {
        left: 41.66666667%
    }

    .col-md-push-4 {
        left: 33.33333333%
    }

    .col-md-push-3 {
        left: 25%
    }

    .col-md-push-2 {
        left: 16.66666667%
    }

    .col-md-push-1 {
        left: 8.33333333%
    }

    .col-md-push-0 {
        left: auto
    }

    .col-md-offset-12 {
        margin-left: 100%
    }

    .col-md-offset-11 {
        margin-left: 91.66666667%
    }

    .col-md-offset-10 {
        margin-left: 83.33333333%
    }

    .col-md-offset-9 {
        margin-left: 75%
    }

    .col-md-offset-8 {
        margin-left: 66.66666667%
    }

    .col-md-offset-7 {
        margin-left: 58.33333333%
    }

    .col-md-offset-6 {
        margin-left: 50%
    }

    .col-md-offset-5 {
        margin-left: 41.66666667%
    }

    .col-md-offset-4 {
        margin-left: 33.33333333%
    }

    .col-md-offset-3 {
        margin-left: 25%
    }

    .col-md-offset-2 {
        margin-left: 16.66666667%
    }

    .col-md-offset-1 {
        margin-left: 8.33333333%
    }

    .col-md-offset-0 {
        margin-left: 0
    }
}

@media (min-width: 1200px) {
    .col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12 {
        float:left
    }

    .col-lg-12 {
        width: 100%
    }

    .col-lg-11 {
        width: 91.66666667%
    }

    .col-lg-10 {
        width: 83.33333333%
    }

    .col-lg-9 {
        width: 75%
    }

    .col-lg-8 {
        width: 66.66666667%
    }

    .col-lg-7 {
        width: 58.33333333%
    }

    .col-lg-6 {
        width: 50%
    }

    .col-lg-5 {
        width: 41.66666667%
    }

    .col-lg-4 {
        width: 33.33333333%
    }

    .col-lg-3 {
        width: 25%
    }

    .col-lg-2 {
        width: 16.66666667%
    }

    .col-lg-1 {
        width: 8.33333333%
    }

    .col-lg-pull-12 {
        right: 100%
    }

    .col-lg-pull-11 {
        right: 91.66666667%
    }

    .col-lg-pull-10 {
        right: 83.33333333%
    }

    .col-lg-pull-9 {
        right: 75%
    }

    .col-lg-pull-8 {
        right: 66.66666667%
    }

    .col-lg-pull-7 {
        right: 58.33333333%
    }

    .col-lg-pull-6 {
        right: 50%
    }

    .col-lg-pull-5 {
        right: 41.66666667%
    }

    .col-lg-pull-4 {
        right: 33.33333333%
    }

    .col-lg-pull-3 {
        right: 25%
    }

    .col-lg-pull-2 {
        right: 16.66666667%
    }

    .col-lg-pull-1 {
        right: 8.33333333%
    }

    .col-lg-pull-0 {
        right: auto
    }

    .col-lg-push-12 {
        left: 100%
    }

    .col-lg-push-11 {
        left: 91.66666667%
    }

    .col-lg-push-10 {
        left: 83.33333333%
    }

    .col-lg-push-9 {
        left: 75%
    }

    .col-lg-push-8 {
        left: 66.66666667%
    }

    .col-lg-push-7 {
        left: 58.33333333%
    }

    .col-lg-push-6 {
        left: 50%
    }

    .col-lg-push-5 {
        left: 41.66666667%
    }

    .col-lg-push-4 {
        left: 33.33333333%
    }

    .col-lg-push-3 {
        left: 25%
    }

    .col-lg-push-2 {
        left: 16.66666667%
    }

    .col-lg-push-1 {
        left: 8.33333333%
    }

    .col-lg-push-0 {
        left: auto
    }

    .col-lg-offset-12 {
        margin-left: 100%
    }

    .col-lg-offset-11 {
        margin-left: 91.66666667%
    }

    .col-lg-offset-10 {
        margin-left: 83.33333333%
    }

    .col-lg-offset-9 {
        margin-left: 75%
    }

    .col-lg-offset-8 {
        margin-left: 66.66666667%
    }

    .col-lg-offset-7 {
        margin-left: 58.33333333%
    }

    .col-lg-offset-6 {
        margin-left: 50%
    }

    .col-lg-offset-5 {
        margin-left: 41.66666667%
    }

    .col-lg-offset-4 {
        margin-left: 33.33333333%
    }

    .col-lg-offset-3 {
        margin-left: 25%
    }

    .col-lg-offset-2 {
        margin-left: 16.66666667%
    }

    .col-lg-offset-1 {
        margin-left: 8.33333333%
    }

    .col-lg-offset-0 {
        margin-left: 0
    }
}

@media (max-width: 767.98px) { 

    .hidden-sm{
        display:none!important;
    }
}

#wpcontent {
    padding-left: unset;
}

#wpbody-content {
    padding-bottom: unset;
}

#submit{
    height: 38px;
    background-color: #0868F6;
    color: #fff;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    font-weight: 700;
    justify-content: center;
    align-items: center;
}

#submit:hover{
    opacity: 0.5;
}

.v-button-primary{
	text-decoration: none;
    background: #0868F6;
    border-radius: 6px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    height: 38px;
    padding: 15px;
    display: flex;
    justify-content: center;
}

.v-button-primary:hover{
	 color: #FFFFFF;
	 opacity: 0.5;
}

.vivahr-dashboard{
    margin:20px;
}

.vivahr-content-body{
    padding:15px 25px;  
}

.vivahr-initial-setup{
    display:flex;
}

.vivahr-initial-setup>.vivahr-initial-setup-box-1{
    width:100%;
    max-width:50%;
    background:#ffffff;
    padding:101px 35px;
}

.vivahr-initial-setup>.vivahr-initial-setup-box-2{
    width:100%;
    max-width:50%;
    background: #EDF1F7;
    padding:0 35px;
}

.vivahr-initial-setup>.vivahr-initial-setup-box-1>.visb1-content {

    text-align: center;
}

.vivahr-initial-setup>.vivahr-initial-setup-box-2>.visb2-content {
   
    text-align: center;
}

.visb2-content ul{
   list-style: disc;
   padding-inline-start: 40px;
   text-align: left;
}

.visb2-content ul>li{
    font-weight: 500;
    font-size: 18px;
    color: #000000;
    margin-bottom:37px;
}

.visb2-content h3{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 58px;
    color: #464A53;
}

.visb1-content h3{
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #464A53;
}

.visb1-content p{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #464A53;
}

@media (max-width: 767.98px) { 
    .vivahr-initial-setup {
        flex-direction: column-reverse;
    }
    
    .vivahr-initial-setup>.vivahr-initial-setup-box-1, .vivahr-initial-setup>.vivahr-initial-setup-box-2 {
       max-width: 100%;
    }
}

@media screen and (max-width: 782px){
    .auto-fold #wpcontent {
        padding-left: unset!important;
    }
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}

.panel-warning {
    border-color: #faebcc;
}

.panel-warning>.panel-heading {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}

.panel-success {
    border-color: #d6e9c6;
}

.panel-success>.panel-heading {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.pull-right {
    float: right!important;
}

.list-group {
    padding-left: 0;
    margin-bottom: 20px;
}

.list-group-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.list-group-item-heading {
    margin-top: 0;
    margin-bottom: 5px;
}

.list-group-item-text {
    margin-bottom: 0;
    line-height: 1.3;
}

p {
    margin: 0 0 10px;
}

.label-danger {
    background-color: #d9534f;
}

.label {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
}

.label-success {
    background-color: #5cb85c;
}

.label {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
}

input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week] {
   min-height: 35px;
   border: 1px solid #D0CECE;
   color: #000000;
}

select{
    min-height: 35px!important;
    border: 1px solid #D0CECE!important;
    color: #000000;
}

.vivahr-table{
    width: 100%;
	background: #FFFFFF;
    box-shadow: 0px 1px 1px #dddee2;
    border-radius: 7px;
    border-collapse: collapse;
	font-family: 'Roboto';
}

.vivahr-table .vivahr-table-description{
	text-align: left;
    text-indent: 20px;
	padding: 15px 15px;
    height:59px;
	font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}

.vivahr-table .vivahr-table-header th, .vivahr-table tbody tr td{
	text-align: left;
    text-indent: 20px;
	padding: 15px 15px;
	font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    height:59px;
}

.vivahr-table tr {
  border-bottom: 1px solid #EFF1F5;;
}

.vo-header{
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1.5px solid #EFF1F5;
}

.vo-header>h3{
   margin:9px 0;
}

.vo-b-section{
	border-right: 1.5px solid #EFF1F5;
    padding: 15px 25px;
}

.vo-b-s-content-1-1{
	display: flex;
    justify-content: space-between;
	align-items: center;
}
	
.vo-b-s-content-1-1>p{
	font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #0868F6;
}

.vo-b-s-content-1-1 span{
	font-weight: 700;line-height: 17px;color: #0868F6;
}

.vo-b-s-content-1-3{
	margin-top:17px;
}

.vo-b-s-content-1-3>span{
	
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #0868F6;
}

.vo-b-s-content-2-1{
	display: flex;
    justify-content: space-between;
	align-items: center;
}

.vo-b-s-content-2-1 span{
	font-weight: 700;line-height: 17px;color: #39C38D;
}
	
.vo-b-s-content-2-1>p{
	font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #39C38D;
}

.vo-b-s-content-2-3{
	margin-top:17px;
}

.vo-b-s-content-2-3>span{
	
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #39C38D;
}

.vo-b-s-content-3-1{
	display: flex;
    justify-content: space-between;
	align-items: center;
}

.vo-b-s-content-3-1 span{
	font-weight: 700;line-height: 17px;color: #FFA700;
}
	
.vo-b-s-content-3-1>p{
	font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #FFA700;
}

.vo-b-s-content-3-3{
	margin-top:17px;
}

.vo-b-s-content-3-3>span{
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #FFA700;
}

.vo-b-s-content-1-2, .vo-b-s-content-2-2, .vo-b-s-content-3-2{
	min-height:50px;
}

.hidden {
    display: none!important;
}
.job-form-application-row .btn-application-input.active, .job-form-application-row .btn-application-label.active {
    background-color: #0868f6;
    color: #fff;
    border: 2px solid #0868f6;
}
.btn {
    padding: 6px 15px;
    border-radius: 5px;
    display: inline-block;
    border: 0;
    margin: 0 2px;
    background-color: transparent;
    cursor: pointer;
    font-family: 'Roboto';
    font-size: 13px;
}

.job-form-application-row .btn-application-input, .job-form-application-row .btn-application-label {
    background: none;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #7A8DAE;
}

.job-form-application-row {
    border-bottom: 1px solid #eaeef5;
    padding: 0px 10px 0px 10px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.job-form-application-row-col1 {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0 20px;
    min-width: 300px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.job-form-input-header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #7A8DAE;
}

#vivahr-setup-form input, #vivahr-setup-form select{
	height: 50px;
    mix-blend-mode: normal;
    border: 1px solid #0868F6!important;
    border-radius: 5px;
}

#vivahr-setup-form select{
	width:100%;
	max-width:100%!important;
}

#vivahr-setup-form{
	margin-top:35px;
}

#vivahr-setup-form input{
	width:100%;
}

#vivahr-setup-form .row{
	margin-bottom:15px;
}

.overview-range{
	border: none!important;
}

.overview-range:focus{
	border: none!important;
}

.vivahr-navbar{
	background:#fff;
}

.vivahr-navbar-brand{
    text-decoration:none;	
}

.vivahr-navbar-brand>img{
	width:25px;
	height:25px;
}

.vivahr-navbar-brand>h4{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    margin: 0 10px;
}

.nav-item{
	margin: 0;
    padding: 0 15px;
}

.nav-link{
	text-decoration:none;
	font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #0868F6;
}

.nav-link.vivahr-external-link-primary {
    background: #0868F6;
    border: 1px solid #0868F6;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 140px;
   
}

.nav-link.vivahr-external-link-primary:hover {
	opacity:0.5;
	color: #FFFFFF;
}

.nav-link.vivahr-external-link-secondary {
	background:#ffffff;
    border: 1px solid #0868F6;
    padding: 7px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    color: #0868F6;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 140px;
}

.nav-link.vivahr-external-link-secondary:hover {
	background:#0868F6;
	 color: #ffffff;
}

.nav-item.active>.nav-link{
	font-weight: 700;
}

.nav-link:hover {
    
	color: #0868F6;
}

.want-more-candidates{
	display: flex;
    background: #0868F6;
    box-shadow: 0px 1px 1px #DDDEE2;
    border-radius: 7px;
    text-align: center;
    padding: 25px;
    flex-wrap: wrap;
    justify-content: center;
}

.want-more-candidates>h3{
	font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    text-align: center;

    color: #FFFFFF;
}

.want-more-candidates>p{
	font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;

    color: #FFFFFF;

    mix-blend-mode: normal;
    opacity: 0.75;
}

.want-more-candidates>a{
	display: flex;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    max-width: 200px;
    width: 100%;
    height: 36px;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
}

.vo-b-section.help-box>div>h3{
	font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 30px;
    color: #0868F6;
	margin:0;
}

.vo-b-section.help-box>div p{
	font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}

.vo-body.help-box > .vo-b-section{
	border-bottom: 1.5px solid #EFF1F5;
	padding: 30px 25px;
}

.vo-body.help-box > .vo-b-section img{
	height:25px;
}

.job-details{
	font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.job-options{
	font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}



.job-details ul li{
	padding:0 5px;
}



